[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.cloud.soda.io"
verify_ssl = true
name = "pypicloudsoda"

[packages]
requests = "*"
pandas = "*"
psycopg2-binary = "*"
soda-core-contracts = "*"
soda-core-postgres = "*"
python-dotenv = "*"
pyyaml = "*"
soda-scientific = {version = "*", index = "pypicloudsoda"}
jupyterlab = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3"
